pre, code {
	background-color:#def;
	border:1px solid gray;
}

pre {
	padding:5px;
	overflow-x:auto;
	width:100%;
}

h1, h2 {
	border-bottom:1px solid rgb(238, 238, 238);
}

img {
	width:100%;
	border:1px solid #b4b4b4;
}
